.social a{
	font-size: 12px;
	font-color: red;
}

.topics a{
	font-weight: 300;
	font-size: 15px;
}

.brand a{
	font-weight: 300;
}

.cover-image {
	height: 180px;
	padding-top: 44px;
	padding-bottom: 44px;
}

.instagram-bar {
	width: 800px;
	margin: auto;
	font-size: 0;
}

.instagram-bar li{
	display: inline;
	font-size: 14px;
}
.first-name {
	font-weight: 100;
	text-transform: uppercase;
}

.last-name {
	font-weight: 300;
	text-transform: uppercase;	
}
h2,h3 a{
	text-decoration: none;
}

#dsq-content{
  display:none;
}

#myCarousel{
	width: 100%;
	max-width: 1200px;
}

#myCarousel img{
max-width: 300px;
width: auto 100%;	
}