<!DOCTYPE html>
<html>
  <head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" media="screen" />
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>  
   <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container"> 
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></a>
          <a href="/" class="brand"><span class="first-name">Nico</span><span class="last-name">Ritschel</span></a>
          <div class="nav-collapse collapse">
            <ul class="nav topics">
              <li><a href="#projects">Projects</a></li>
              <li><a href="#notes">Notes</a></li>
              <li><a href="#fun">Fun</a></li>
              <li><a href="/about.html">About</a></li>              
            </ul>
            <ul class="nav social pull-right">
              <li><a href="http://github.com/nicoritschel"><i class="icon-github icon-large"></i></a></li>
              <li><a href="http://www.linkedin.com/profile/view?id=93588951"><i class="icon-linkedin-sign icon-large"></i></a></li>                                         
              <li><a href="http://twitter.com/nicoritschel"><i class="icon-twitter icon-large"></i></a></li> 
<!--               <li><a href="http://www.last.fm/user/nicoritschel"><i class="icon-lastfm icon-large"></i></a></li> -->
            </ul>            
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>

    {% if page.header_image == null %}
      {% include instagram.html %}
    {% else %}
      {% include custom_header.html %}
    {% endif %}

    <div class="container">
      <div class="row content-area">
        <div class="span12">
          {{ content }}
        </div>
      </div>
      <div class="row">
    </row>        
      <div class="row tail">
        <hr>
        <div class="span4">
          <a href="http://twitter.com/nicoritschel"><h2>Twitter</h2></a>
          <p>Perhaps I should tweet more. Hmm?</p>
        </div>
        <div class="span4">
          <a href="http://www2.hedgeye.com"><h2>Hedgeye</h2></a>
          <p>is my employer, since September 2012. I fiddle with cool things like Ruby and Node.JS as an intern.</p>
        </div>
        <div class="span4">
          <a href="mailto:nichol@sritschel.com"><h2>Get in touch</h2></a>
          <p>Email, skype, carrier pigeon, messenger owl...</p>
        </div>
      </div>
    </div>
    <!-- /container -->
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="javascripts/bootstrap.js"></script>
  <script>
  $('.carousel').carousel({
  interval: 5000
  })
  </script>
  <!-- Google Analytics Tracking -->
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37802319-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script>
var data;
$(function(){
$.ajax({ 'url': "http://proxy.nicoritschel.com/instagram", 'dataType': "jsonp", 'success': function(data, status, jq) { data = data; alert(data);} });
});
</script>

</html>
