<!DOCTYPE html>
<html>
  <head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" media="screen" />
  <link href="/stylesheets/responsive.css" rel="stylesheet" type="text/css" media="screen" />  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>  
   <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container"> 
          <a href="/" class="brand"><span class="first-name">Nico</span><span class="last-name">Ritschel</span></a>
          <ul class="nav social">
            <li><a href="http://github.com/nicoritschel"><span class="icon-github"></span></a></li>
            <li><a href="http://www.linkedin.com/profile/view?id=93588951"><span class="icon-linkedin-sign"></span></a></li>
            <li><a href="http://twitter.com/nicoritschel"><span class="icon-twitter"></span></a></li> 
          </ul>       
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>                    
          <div class="nav-collapse collapse">
            <ul class="nav topics">
              <li><a href="/about.html">About</a></li>                            
             <!-- <li><a href="#projects">Projects</a></li>
              <li><a href="#notes">Notes</a></li>
              <li><a href="#fun">Fun</a></li>-->
            </ul>         
          </div>            
                        
        </div>
      </div>
    </div>
    {% if page.header_image == null %}
      {% include instagram.html %}
    {% elsif page.header_image == 'none'  %}
      &nbsp;
    {% else %}
      {% include custom_header.html %}
    {% endif %}

    <div class="container">
      <div class="row content-area">
        <div class="span12">
          {{ content }}
        </div>
      </div>       
      <div class="row tail">
        <hr>
        <div class="span4">
          <a href="http://twitter.com/nicoritschel"><h3>Twitter</h3></a>
          <p>Perhaps I should tweet more. Hmm?</p>
        </div>
        <div class="span4">
          <a href="http://twitter.com/nicoritschel"><h3>Acorns</h3></a>
          <p>is my current employer</p>
        </div>
        <div class="span4">
          <a href="mailto:nichol@sritschel.com"><h3>Get in touch</h3></a>
          <p>Email, skype, carrier pigeon, messenger owl...</p>
        </div>
      </div>
    </div>
    <!-- /container -->
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="javascripts/bootstrap.js"></script>
  <!-- Google Analytics Tracking -->
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37802319-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script src="javascripts/main.js"></script>

</html>
